html
  head
    title analyse
    link(href="/styles/main.css", rel="stylesheet")    
    link(href="/styles/importer.css", rel="stylesheet")
    
  body
    div.content
      div analuse
    script(src="/js/angular.js")
    script(src="/js/jquery.js")
    script(src="/js/md5.js")
    
  