html
  head
    title analyse
    link(href="/styles/main.css", rel="stylesheet")    
    link(href="/styles/importer.css", rel="stylesheet")
    
  body
    div#header
      | header
    div.sidebar
      ul
        li
          a(href="/analyse", title="1") 1
        li
          a(href="#", title="2") 2
    div.content
      div index
    script(src="/js/angular.js")
    script(src="/js/jquery.js")
    script(src="/js/md5.js")
    
  