html(ng-app="md5")
  head
    title md5
    link(href="/styles/main.css", rel="stylesheet")    
    link(href="/styles/importer.css", rel="stylesheet")
    
  body(ng-controller="mainCtl")
    div#header
      | header
    div.sidebar
      ul
        li
          a(href="analyse", title="1") 1
        li
          a(href="#", title="2") 2
    div.content
      div index{{aaa}}
      button.btn.btn-default(ng-click="postFile()") 123
      form
        input.btn.btn-default(type="file")
        button.btn.btn-default(type="submit")计算
    script(src="/js/angular.js")
    script(src="/js/jquery.js")
    script(src="/js/md5.js")
    
  