html(ng-app="md5")
  head
    title md5
    link(href="/styles/main.css", rel="stylesheet")    
    link(href="/styles/importer.css", rel="stylesheet")
    
  body(ng-controller="mainCtl")
    div#header
      | header
    div.sidebar
      ul
        li
          a(href="analyse", title="1") 1
        li
          a(href="#", title="2") 2
    div.content
      form
        input#uploadfile(type="file" name="file")
        input.form-control.manual(ng-file-select="uploadFile($files)")
        button.btn.btn-default.btn-upload-conf(ng-file-select="uploadFile($files)", onclick="this.value = null")
          span 上传
          
        div#log
    script(src="/js/spark-md5.js")
    script(src="/js/angular.js")
    script(src="/js/angular-file-upload.js")
    // script(src="/js/angular-md5.js")
    // script(src="/js/angular-file-md5.js")
    script(src="/js/jquery.js")
    script(src="/js/md5.js")
    script(src="/js/uploadFile.js")
    
    
    
  