html(ng-app="md5")
  head
    title md5
    link(href="/styles/main.css", rel="stylesheet")    
    link(href="/styles/importer.css", rel="stylesheet")
    // link(href="/styles/bootstrap.css", rel="stylesheet")
    link(href="/styles/ng-table.css", rel="stylesheet")
    
    
  body(ng-controller="mainCtl")
    div#header
      .navbar-right          
        li.is-align-right
          a(href="/" ng-click="logout()") 注销
        li.is-align-right
          a(href="/") 
            span#dropdownCtl 登陆
            div#dropdownTarget.login-dropdown
              p
                label 用户名：  
                input(type="text" ng-model="username")
              p
                label 密  码：
                input(type="password" ng-model="password")
              button.btn.btn-default(ng-click="login()") 登陆
    div.content
      div.calculate.col-xs-6
        div.stringMd5
          label 请输入要计算md5的字符串：
          input(type="text" ng-model="inputString")
          p 
            |你输入的字符串md5值是：{{message}}
        div.filesMd5
          .fileInputContainer
            div.btn.btn-default 上传文件
            input#uploadfile(type="file" name="file")
          div.progress
            div.progress-bar.progress-bar-success.progress-bar-striped.active#processBar(role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100")
          p(ng-click="createMd5()") 文件名:
            span#fileName
          p 文件大小:
            span#fileSize
          p(ng-click="getFileInfo()") 文件MD5：
            span#fileMD5
          div#log    
      div.showMd5.col-xs-6
        div.md5table
          table.table(ng-table="filesInfoTable" show-filter="true")
            col(width="30%")
            col(width="60%")
            col
            tr(ng-repeat="d in $data" )
              td(title="'名称'"  filter="{ name: 'text'}")
                span {{d.name}}
              td(title="'MD5'"  filter="{ md5: 'text'}")  
                span {{d.md5}}
              td
                button.btn.btn-default(ng-click="deleteMd5(d.id)") 删除
        div(ng-show="cookieUsername")
          .col-xs-10
            label.col-md-3 文件名：
            input(ng-model="createName" type="text")
          .col-xs-10
            label.col-md-3 文件MD5：
            input(ng-model="createMd5Value" type="text")
          .col-xs-10
            label.col-md-3 文件种类：
            input(ng-model="createType" type="text")
          .col-xs-5
            button.btn.btn-default(ng-click="createMd5Info()")
              span 新建记录1
    script(src="/js/jquery.js")
    script(src="/js/bootstrap.js")
    script(src="/js/spark-md5.js")
    script(src="/js/angular.js")
    script(src="/js/angular-cookies.js")
    script(src="/js/angular-md5.js")
    script(src="/js/ng-table.js")
    script(src="/js/md5.js")
    script(src="/js/uploadFile.js")
    
    
    
  