body {
  margin: 0;
  background-color: #F3F7F9;
}

.sidebar {
  width: 100px;
  height: 100%;
  position: absolute;
  left: -80px;
  background-color: #ccc;
  transition: left 1s ease-in-out;
  ul li {
    list-style: none;
    text-align: center;
  }
}

.content {
  margin: 0 auto;
  .calculate {
    .stringMd5 {
      margin: 10px;
      padding: 10px;
      border: 1px solid #ABCDEF;
      border-radius: 5px;
      input {
        padding: 3px;
        border: 1px solid #ccc;
        border-radius: 3px;
        margin-bottom: 10px;
      }
      input:focus {
        border: 1px solid #000;
      }
    }
    .filesMd5 {
      margin: 10px;
      padding: 10px;
      border: 1px solid #ABCDEF;
      border-radius: 5px;
      .fileInputContainer {
        display: inline-block;
        #uploadfile {
          width: 200px;
          height: 33px;
          opacity: 0;
          margin: -33px 0 10px 0;
        }
      }
    }
  }
  .showMd5 {
    .md5table {
      padding: 10px;
      border-radius: 5px;
      border: 1px solid #ABCDEF;
      margin: 10px 0;
    }
    label{
      text-align: right;
      margin: 5px 0;
    }
    input{
      line-height: 18px;
      padding: 3px;
      border-radius: 5px;
      border: 1px solid #ccc;
    }
    input:focus{
      border: 1px solid #000;
    }
    
  }
}