body {
  margin: 0;
  background-color: #F3F7F9;
}

#header {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 2;
  opacity: 0.8;
  li {
    list-style: none;
    line-height: 20px;
    padding: 15px 20px;
    font-size: 16px;
    position: relative;
    .login-dropdown {
      font-size: 14px;
      display: none;
      position: absolute;
      top: 49px;
      left: -50px;
      background-color: #CCFFFF;
      border: 1px solid #ccc;
      z-index: 2;
      border-radius: 5px;
      padding: 8px;
      input {
        line-height: 18px;
        padding: 3px;
        border-radius: 5px;
        border: 1px solid #ccc;
      }
      input:focus {
        border: 1px solid #000;
      }
    }
    .login-dropdown:after {
      content: "";
      position: absolute;
      top: -10px;
      left: 79px;
      width: 0px;
      height: 0px;
      border-left: 8px solid transparent;
      border-right: 8px solid transparent;
      border-bottom: 10px solid #CCFFFF;
    }
  }
  a:visited, a:hover, a:active {
    color: #000
  }
}

.banner {
  margin-top: 50px;
  position: relative;
  overflow: auto;
  z-index: -1;
  ul {
    li {
      list-style: none;
      float: left;
      max-height: 500px;
      overflow: hidden;
      img{
        width:100%;
      }
    }
  }
}

.content {
  margin: 0 auto;
  .calculate {
    .stringMd5 {
      margin: 10px;
      padding: 20px 10px;
      border: 1px solid #ABCDEF;
      border-radius: 5px;
      input {
        padding: 3px;
        border: 1px solid #ccc;
        border-radius: 3px;
        margin-bottom: 15px;
      }
      input:focus {
        border: 1px solid #000;
      }
    }
    .filesMd5 {
      margin: 20px 10px;
      padding: 20px 10px;
      border: 1px solid #ABCDEF;
      border-radius: 5px;
      .fileInputContainer {
        display: inline-block;
        #uploadfile {
          width: 200px;
          height: 33px;
          opacity: 0;
          margin: -33px 0 20px 0;
        }
      }
      #recommand {
        display: none;
        a,a:visited, a:hover, a:active {
          color: #000;
          margin: 10px;
        }
      }
    }
  }
  .showMd5 {
    .md5table {
      padding: 10px;
      border-radius: 5px;
      border: 1px solid #ABCDEF;
      margin: 10px 0;
      height: 350px;
      overflow: auto;
    }
    label {
      text-align: right;
      margin: 11px 0;
    }
    input {
      margin: 10px 0;
      line-height: 18px;
      padding: 3px;
      border-radius: 5px;
      border: 1px solid #ccc;
    }
    input:focus {
      border: 1px solid #000;
    }
    .createMd5Info {
      border-radius: 5px;
      border: 1px solid #ABCDEF;
      overflow: hidden;
      padding: 10px;
    }
  }
}